@model BookShare.MVC.Models.LivroViewModel

@section styles{
    <style>
        textarea {
            width: 100%;
            resize: none;
            height: 7em;
        }
        .container-fluid{
            margin-top: 20px;
        }
    </style>

}
<script>
    Document.GetElementById("file").TextContent = "Enviar Foto";
</script>
@{
    ViewBag.Title = "Criar";
}

@using (Html.BeginForm("Create", "Livros", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 container-login">
                <div class="form-horizontal">
                    <h2>Novo livro</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Título do Livro" } })
                            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.AnoLancamento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AnoLancamento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.DropDownList("AutorId", null, "Selecione o Autor...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AutorId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownList("CategoriaId", null, "Selecione a Categoria...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Isbn, new { htmlAttributes = new { @class = "form-control", @placeholder = "ISBN" } })
                            @Html.ValidationMessageFor(model => model.Isbn, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.DropDownList("EditoraId", null, "Selecionar Editora...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EditoraId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="file" id="file" name="file" />
                        @Html.HiddenFor(model => model.Foto)
                        @Html.ValidationMessageFor(model => model.Foto)
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Sinopse, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Sinopse" })
                            @Html.ValidationMessageFor(model => model.Sinopse, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Create" class="btn btn-primary col-md-5" />
                            <a href='@Url.Action("Index", "Livros")' class="btn btn-danger col-md-5 col-md-offset-2">Cancelar</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
