@model BookShare.MVC.Models.LivroViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LivroViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoLancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditoraId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditoraId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LivroId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.LivroId }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
